page-conexoes-ass {
    ion-label{
        white-space: normal !important;
    }

    ion-item-group{
        border: solid 1px #32db64;
        margin-bottom: 10px;
    }

    ion-item-divider{
        font-size: 18px !important;
    }

    .item-inner{
        border-bottom: none !important;
    }
}
