page-tipousuario {
  ion-header{
    background-color: white;
  }

  .logo{
    text-align: center;
    background-color: white;
    height: 56px;
  }

  h1, h5 {
    text-align: center;
    color: white;
  }

  h1{
    font-weight: bold;
  }

  h5 {
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 1.6rem;    
  }

  .logo img{
    height: 56px;
  }

  .tipo-img{
    padding: 20px 20px 0 20px;
  }

  ion-card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-grid{
    justify-content: center;
  }

  ion-card-title{
    width: 100%;
    border-top: #0c9a37 3px solid;
  }
}
